<div class="home-container">
<!-- ===== GENERAL CONTAINER FOR FLEXBOX ===== -->
<div class="container">
<!-- ===== LISTS OUT GAMES BASED ON DATE ===== -->
  <div class="todays-games">

    <% @todays_games.each do |game| %>

      <!-- Set Home and Visitor for Game -->
      <% vis = Team.find(game.visitor_id) %>
      <% home = Team.find(game.home_id) %>
      <% records = [team_wins_losses(vis, game.date), team_wins_losses(home, game.date)] %>
    <a href="<%= game_path(game) %>">
      <!-- Add complete class base on record -->
      <div class="game <%= 'complete' if game.complete? %> <%= home.conference.downcase %>">
        <div class="game-header">
          <div class="game-loc"><%= home.city %></div>

          <!-- Select whether to show date or Final -->
          <div class="game-date">
            <% if game.complete? %>
              <% inn = Inning.where(game_id: game.id).count %>
              <span class="final">F<%= "/#{inn}" if inn > 9 %></span>
            <% else %>
              <span><%= game.date.strftime("%b %d") %></span>
            <% end %>
          </div>

        </div>

        <!-- Team Name and Record -->
        <div class="visitor">
          <%= vis.abbr %><span class="record">(<%= "#{records[0][0]}-#{records[0][1]}" %>)</span>
        </div>
        <% if game.complete? %>
          <div class="score visitor-score">
            <%= game.vis_runs %>
          </div>
        <% end %>
        <div class="home">
          <%= home.abbr %><span class="record">(<%= "#{records[1][0]}-#{records[1][1]}" %>)</span>
        </div>
        <% if game.complete? %>
          <div class="score home-score">
            <%= game.home_runs %>
          </div>
        <% end %>
      </div>
    </a>
    <% end %>
  </div>

<!-- ===== CLICKABLE STANDINGS -->
  <div class="standings">
    <div class="standings-table">

<!-- Selectable Conference Buttons -->
      <div class="conference">
        <div class="conf-button west active" id="stand-west">
          West
        </div><!--
        --><div class="conf-button east" id="stand-east">
          East
        </div>
      </div>

<!-- STANDINGS TABLES -->
      <div id="west-table">
        <div class="stand-table stand-table-west" id="stand-eur">
          <table>
            <%= render 'standings_table_header' %>
            <tbody>
              <% standings("Europe").each do |t, s| %>
                <tr>
                  <td class="name"><%= link_to t, team_path(s[:id]) %></td>
                  <td><%= s[:wins] %></td>
                  <td><%= s[:losses] %></td>
                  <td><%= ("%.3f" % s[:win_pct]).sub(/^0/,'') %></td>
                  <td>-</td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <div class="stand-table stand-table-west" id="stand-nor">
          <table>
            <%= render 'standings_table_header' %>
            <tbody>
              <% standings("North America").each do |t, s| %>
                <tr>
                  <td class="name"><%= link_to t, team_path(s[:id]) %></td>
                  <td><%= s[:wins] %></td>
                  <td><%= s[:losses] %></td>
                  <td><%= ("%.3f" % s[:win_pct]).sub(/^0/,'') %></td>
                  <td>-</td>
                </tr>
              <% end %>
          </table>
        </div>
        <div class="stand-table stand-table-west" id="stand-sou">
          <table>
            <%= render 'standings_table_header' %>
            <tbody>
              <% standings("South America").each do |t, s| %>
                <tr>
                  <td class="name"><%= link_to t, team_path(s[:id]) %></td>
                  <td><%= s[:wins] %></td>
                  <td><%= s[:losses] %></td>
                  <td><%= ("%.3f" % s[:win_pct]).sub(/^0/,'') %></td>
                  <td>-</td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
      <div id="east-table">
        <div class="stand-table stand-table-east" id="stand-afr">
          <table>
            <%= render 'standings_table_header' %>
            <tbody>
              <% standings("Africa").each do |t, s| %>
                <tr>
                  <td class="name"><%= link_to t, team_path(s[:id]) %></td>
                  <td><%= s[:wins] %></td>
                  <td><%= s[:losses] %></td>
                  <td><%= ("%.3f" % s[:win_pct]).sub(/^0/,'') %></td>
                  <td>-</td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <div class="stand-table stand-table-east" id="stand-asi">
          <table>
            <%= render 'standings_table_header' %>
            <tbody>
              <% standings("Asia").each do |t, s| %>
                <tr>
                  <td class="name"><%= link_to t, team_path(s[:id]) %></td>
                  <td><%= s[:wins] %></td>
                  <td><%= s[:losses] %></td>
                  <td><%= ("%.3f" % s[:win_pct]).sub(/^0/,'') %></td>
                  <td>-</td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <div class="stand-table stand-table-east" id="stand-oce">
          <table>
            <%= render 'standings_table_header' %>
            <tbody>
              <% standings("Oceania").each do |t, s| %>
                <tr>
                  <td class="name"><%= link_to t, team_path(s[:id]) %></td>
                  <td><%= s[:wins] %></td>
                  <td><%= s[:losses] %></td>
                  <td><%= ("%.3f" % s[:win_pct]).sub(/^0/,'') %></td>
                  <td>-</td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

<!-- ===== LEAGUE LEADERS ===== -->

  <div class="standings">
    <div class="league-leaders">
      <div class="categories">
        <div class="league-leaders-button hitting active" id="leaders-hitting">
          Hitting
        </div><!--
        --><div class="league-leaders-button pitching" id="leaders-pitching">
          Pitching
        </div>
      </div>
      <div class="player-stats hitting-stats" id="hitting-stats">
        <table>
          <tr class="stat-title batting-avg">
            <td>Batting Average</td>
            <td class="statistic" rowspan="2"><%= ('%.3f' % @batting_leaders[:avg][1]).sub(/^0/,'') %></td>
          </tr>
          <tr class="leader-name">
            <td><%= @batting_leaders[:avg][0].first_name %> <%= @batting_leaders[:avg][0].last_name %></td>
          </tr>
          <tr class="information">
            <td class="leader-team leader-position"><%= @batting_leaders[:avg][0].team.name %> &bull; <%= pos_to_string(@batting_leaders[:avg][0].batting_stats.first.pos) %></td>
            <td class="category">Avg</td>
          </tr>

          <tr class="stat-title batting-avg">
            <td>Runs</td>
            <td class="statistic" rowspan="2"><%= @batting_leaders[:runs][1] %></td>
          </tr>
          <tr class="leader-name">
            <td><%= @batting_leaders[:runs][0].first_name %> <%= @batting_leaders[:runs][0].last_name %></td>
          </tr>
          <tr class="information">
            <td class="leader-team leader-position"><%= @batting_leaders[:runs][0].team.name %> &bull; <%= pos_to_string(@batting_leaders[:runs][0].batting_stats.first.pos) %></td>
            <td class="category">R</td>
          </tr>

          <tr class="stat-title batting-avg">
            <td>Home Runs</td>
            <td class="statistic" rowspan="2"><%= @batting_leaders[:hr][1] %></td>
          </tr>
          <tr class="leader-name">
            <td><%= @batting_leaders[:hr][0].first_name %> <%= @batting_leaders[:hr][0].last_name %></td>
          </tr>
          <tr class="information">
            <td class="leader-team leader-position"><%= @batting_leaders[:hr][0].team.name %> &bull; <%= pos_to_string(@batting_leaders[:hr][0].batting_stats.first.pos) %></td>
            <td class="category">HR</td>
          </tr>

          <tr class="stat-title batting-avg">
            <td>Runs Batted In</td>
            <td class="statistic" rowspan="2"><%= @batting_leaders[:rbi][1] %></td>
          </tr>
          <tr class="leader-name">
            <td><%= @batting_leaders[:rbi][0].first_name %> <%= @batting_leaders[:rbi][0].last_name %></td>
          </tr>
          <tr class="information">
            <td class="leader-team leader-position"><%= @batting_leaders[:rbi][0].team.name %> &bull; <%= pos_to_string(@batting_leaders[:rbi][0].batting_stats.first.pos) %></td>
            <td class="category">RBI</td>
          </tr>

          <tr class="stat-title batting-avg">
            <td>Hits</td>
            <td class="statistic" rowspan="2"><%= @batting_leaders[:hits][1] %></td>
          </tr>
          <tr class="leader-name">
            <td><%= @batting_leaders[:hits][0].first_name %> <%= @batting_leaders[:hits][0].last_name %></td>
          </tr>
          <tr class="information">
            <td class="leader-team leader-position"><%= @batting_leaders[:hits][0].team.name %> &bull; <%= pos_to_string(@batting_leaders[:hits][0].batting_stats.first.pos) %></td>
            <td class="category">H</td>
          </tr>

          <tr class="stat-title batting-avg">
            <td>Stolen Bases</td>
            <td class="statistic" rowspan="2"><%= @batting_leaders[:sb][1] %></td>
          </tr>
          <tr class="leader-name">
            <td><%= @batting_leaders[:sb][0].first_name %> <%= @batting_leaders[:sb][0].last_name %></td>
          </tr>
          <tr class="information">
            <td class="leader-team leader-position"><%= @batting_leaders[:sb][0].team.name %> &bull; <%= pos_to_string(@batting_leaders[:sb][0].batting_stats.first.pos) %></td>
            <td class="category">SB</td>
          </tr>

          <tr class="stat-title batting-avg">
            <td>Doubles</td>
            <td class="statistic" rowspan="2"><%= @batting_leaders[:do][1] %></td>
          </tr>
          <tr class="leader-name">
            <td><%= @batting_leaders[:do][0].first_name %> <%= @batting_leaders[:do][0].last_name %></td>
          </tr>
          <tr class="information">
            <td class="leader-team leader-position"><%= @batting_leaders[:do][0].team.name %> &bull; <%= pos_to_string(@batting_leaders[:do][0].batting_stats.first.pos) %></td>
            <td class="category">2B</td>
          </tr>
        </table>
      </div>
      <div class="player-stats pitching-stats" id="pitching-stats">
        <table>
          <tr class="stat-title">
            <td>Wins</td>
            <td class="statistic" rowspan="2"><%= @leaders[:wins][1] %></td>
          </tr>
          <tr class="leader-name">
            <td><%= @leaders[:wins][0].first_name %> <%= @leaders[:wins][0].last_name %></td>
          </tr>
          <tr class="information">
            <td class="leader-team leader-position"><%= @leaders[:wins][0].team.name %> &bull; P</td>
            <td class="category">W</td>
          </tr>

          <tr class="stat-title">
            <td>Saves</td>
            <td class="statistic" rowspan="2"><%= @leaders[:saves][1] %></td>
          </tr>
          <tr class="leader-name">
            <td><%= @leaders[:saves][0].first_name %> <%= @leaders[:saves][0].last_name %></td>
          </tr>
          <tr class="information">
            <td class="leader-team leader-position"><%= @leaders[:saves][0].team.name %> &bull; P</td>
            <td class="category">SV</td>
          </tr>

          <tr class="stat-title">
            <td>Earned Run Average</td>
            <td class="statistic" rowspan="2"><%= ("%.2f" % @leaders[:era][1]) %></td>
          </tr>
          <tr class="leader-name">
            <td><%= @leaders[:era][0].first_name %> <%= @leaders[:era][0].last_name %></td>
          </tr>
          <tr class="information">
            <td class="leader-team leader-position"><%= @leaders[:era][0].team.name %> &bull; P</td>
            <td class="category">ERA</td>
          </tr>

          <tr class="stat-title">
            <td>Strikeouts</td>
            <td class="statistic" rowspan="2"><%= @leaders[:k][1] %></td>
          </tr>
          <tr class="leader-name">
            <td><%= @leaders[:k][0].first_name %> <%= @leaders[:k][0].last_name %></td>
          </tr>
          <tr class="information">
            <td class="leader-team leader-position"><%= @leaders[:k][0].team.name %> &bull; P</td>
            <td class="category">SO</td>
          </tr>

          <tr class="stat-title">
            <td>WHIP</td>
            <td class="statistic" rowspan="2"><%= ("%.2f" % @leaders[:whip][1]) %></td>
          </tr>
          <tr class="leader-name">
            <td><%= @leaders[:whip][0].first_name %> <%= @leaders[:whip][0].last_name %></td>
          </tr>
          <tr class="information">
            <td class="leader-team leader-position"><%= @leaders[:whip][0].team.name %> &bull; P</td>
            <td class="category">WHIP</td>
          </tr>

          <tr class="stat-title">
            <td>Batters Faced</td>
            <td class="statistic" rowspan="2"><%= @leaders[:bf][1] %></td>
          </tr>
          <tr class="leader-name">
            <td><%= @leaders[:bf][0].first_name %> <%= @leaders[:bf][0].last_name %></td>
          </tr>
          <tr class="information">
            <td class="leader-team leader-position"><%= @leaders[:bf][0].team.name %> &bull; P</td>
            <td class="category">BF</td>
          </tr>

          <tr class="stat-title">
            <td>Strikeouts per Walk</td>
            <td class="statistic" rowspan="2"><%= ("%.2f" % @leaders[:kbb][1]) %></td>
          </tr>
          <tr class="leader-name">
            <td><%= @leaders[:kbb][0].first_name %> <%= @leaders[:kbb][0].last_name %></td>
          </tr>
          <tr class="information">
            <td class="leader-team leader-position"><%= @leaders[:kbb][0].team.name %> &bull; P</td>
            <td class="category">K/BB</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>