<div class="game-container">
  <div class="container">
    <div class="visitor">
      <h3><%= link_to @game.visitor.name, team_path(@game.visitor) %></h3>
      <% vis_record = team_wins_losses(@game.visitor, @game.date) %>
      <p>(<%= vis_record[0] %>-<%= vis_record[1] %>)</p>
    </div>

    <div class="game-info">
      <% if @game.complete? %>
        <h2><%= @game.winner.name %> <%= @game.winner == @game.home ? @game.home_runs : @game.vis_runs %>, <%= @game.loser.name %> <%= @game.loser == @game.home ? @game.home_runs : @game.vis_runs %></h2>
        <p><%= @game.date.strftime('%A, %B %-d, %Y') %>
        <table>
          <thead>
            <tr>
              <th class="final">FINAL</th>
              <% @innings.each do |i| %>
                <th><%= i.inning %></th>
              <% end %>
              <th class="break"></th>
              <th class="totals">R</th>
              <th class="totals">H</th>
              <th class="totals">E</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="team-name"><%= @game.visitor.name[0..2] %></td>
              <% @innings.each do |i| %>
                <td><%= i.vis_runs %></td>
              <% end %>
              <td></td>
              <td class="totals"><%= @game.vis_runs %></td>
              <td class="totals"><%= @game.vis_hits %></td>
              <td class="totals"><%= @game.vis_errors %></td>
            </tr>
            <tr>
              <td class="team-name"><%= @game.home.name[0..2] %></td>
              <% @innings.each do |i| %>
                <td><%= i.home_runs %></td>
              <% end %>
              <td></td>
              <td class="totals"><%= @game.home_runs %></td>
              <td class="totals"><%= @game.home_hits %></td>
              <td class="totals"><%= @game.home_errors %></td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td colspan='14'>
                <div class="pitchers">
                
                  <% winner = PitchingStat.where(game: @game, w: true).first %>
                  <% w_rec = pitcher_wins_losses(winner.player, @game) %>
                  
                  <% loser = PitchingStat.where(game: @game, l: true).first %>
                  <% l_rec = pitcher_wins_losses(loser.player, @game) %>

                  <% save = PitchingStat.where(game: @game, s: true).first %>
                  <% s_rec = PitchingStat.where('player_id = ? and s = ? and game_id <= ?', save.player.id, true, @game.id).count if save %>

                  <p><span class="win">W: <%= "#{winner.player.first_name[0]}. #{winner.player.last_name}" %> (<%= "#{w_rec[0]}-#{w_rec[1]}"  %>)</span> <span class="loss">L: <%= "#{loser.player.first_name[0]}. #{loser.player.last_name}" %> (<%= "#{l_rec[0]}-#{l_rec[1]}" %>)</span> <span class="save"><% if save %>SV: <%= "#{save.player.first_name[0]}. #{save.player.last_name}" %> (<%= s_rec %>)<% end %></span>
                
                </div>
              </td>
            </tr>
          </tfoot>
        </table>
          
      <% else %>
        <h2><%= @game.visitor.name %> @ <%= @game.home.name %></h2>
        <p><%= @game.date.strftime('%B %-d, %Y') %></p>
        <p class="game-loc"><%= @game.home.city %> &bull; <%= @game.home.name %></p>
      <% end %>
    </div>

    <div class="home">
      <h3><%= link_to @game.home.name, team_path(@game.home) %></h3>
      <% home_record = team_wins_losses(@game.home, @game.date) %>
      <p>(<%= home_record[0] %>-<%= home_record[1] %>)</p>
    </div>
  </div>
  <div class="container">
    <% if @game.complete? %>
      <div class="team-info visitor-info">
        <table>
          <thead>
            <tr>
              <th><%= @game.visitor.name %> Batters</th>
              <th>AB</th>
              <th>R</th>
              <th>H</th>
              <th>RBI</th>
              <th>SO</th>
              <th>BB</th>
              <th>SB</th>
              <th>EBH</th>
            </tr>
          </thead>
          <tbody>
            <% vis_stats = BattingStat.where(game_id: @game.id, team_id: @game.visitor.id) %>
            <% vis_stats.each do |bs| %>
              <tr>
                <td class="player-name"><span class="order"><%= bs.order %></span> <%= bs.player.last_name %> <em class="pos"><%= pos_to_string(bs.pos) %></em></td>
                <td><%= bs.ab %></td>
                <td><%= bs.r %></td>
                <td><%= bs.h %></td>
                <td><%= bs.rbi %></td>
                <td><%= bs.so %></td>
                <td><%= bs.bb + bs.hbp %></td>
                <td><%= bs.sb %></td>
                <td><%= bs.do + bs.tr + bs.hr %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>

      <div class="team-info home-info">
        <table>
          <thead>
            <tr>
              <th><%= @game.home.name %> Batters</th>
              <th>AB</th>
              <th>R</th>
              <th>H</th>
              <th>RBI</th>
              <th>SO</th>
              <th>BB</th>
              <th>SB</th>
              <th>EBH</th>
            </tr>
          </thead>
          <tbody>
            <% home_stats = BattingStat.where(game_id: @game.id, team_id: @game.home.id) %>
            <% home_stats.each do |bs| %>
              <tr>
                <td class="player-name"><span class="order"><%= bs.order %></span> <%= bs.player.last_name %> <em class="pos"><%= pos_to_string(bs.pos) %></em></td>
                <td><%= bs.ab %></td>
                <td><%= bs.r %></td>
                <td><%= bs.h %></td>
                <td><%= bs.rbi %></td>
                <td><%= bs.so %></td>
                <td><%= bs.bb + bs.hbp %></td>
                <td><%= bs.sb %></td>
                <td><%= bs.do + bs.tr + bs.hr %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>


    <% else %>
    <div class="team-info visitor-info">
      <h5 class="starting-pitcher">Jim Palmer, RHP</h5>
      <p class="pitcher-record">0-0</p>
      <p class="pitcher-stats">0.00 ERA &bull; 0 K</p>

      <table>
        <thead>
          <tr>
            <th>Batters</th>
            <th>Avg</th>
            <th>AB</th>
            <th>HR</th>
            <th>RBI</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="player-name">Appling, Luke</td>
            <td>.000</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
          </tr>
          <tr>
            <td class="player-name">Cobb, Ty</td>
            <td>.000</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
          </tr>
          <tr>
            <td class="player-name">Dawson, Andre</td>
            <td>.000</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
          </tr>
          <tr>
            <td class="player-name">Fernandez, Tony</td>
            <td>.000</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
          </tr>
          <tr>
            <td class="player-name">Greer, Rusty</td>
            <td>.000</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
          </tr>
          <tr>
            <td class="player-name">Henderson, Rickey</td>
            <td>.000</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
          </tr>
          <tr>
            <td class="player-name">Henley, Bob</td>
            <td>.000</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
          </tr>
          <tr>
            <td class="player-name">Johnson, Judy</td>
            <td>.000</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
          </tr>
          <tr>
            <td class="player-name">Sandberg, Ryne</td>
            <td>.000</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
          </tr>
          <tr>
            <td class="player-name">Santop, Louis</td>
            <td>.000</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
          </tr>
          <tr>
            <td class="player-name">Segui, David</td>
            <td>.000</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
          </tr>
          <tr>
            <td class="player-name">Suttles, Mule</td>
            <td>.000</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
          </tr>
          <tr>
            <td class="player-name">Ward, John</td>
            <td>.000</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="team-info home-info">
      <h5 class="starting-pitcher">Kevin Brown, RHP</h5>
      <p class="pitcher-record">0-0</p>
      <p class="pitcher-stats">0.00 ERA &bull; 0 K </p>

      <table>
        <thead>
          <tr>
            <th>Batters</th>
            <th>Avg</th>
            <th>AB</th>
            <th>HR</th>
            <th>RBI</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="player-name">Bako, Paul</td>
            <td>.000</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
          </tr>
          <tr>
            <td class="player-name">Belle, Albert</td>
            <td>.000</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
          </tr>
          <tr>
            <td class="player-name">Biggio, Craig</td>
            <td>.000</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
          </tr>
          <tr>
            <td class="player-name">Bonds, Barry</td>
            <td>.000</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
          </tr>
          <tr>
            <td class="player-name">Castilla, Vinny</td>
            <td>.000</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
          </tr>
          <tr>
            <td class="player-name">Garciaparra, Nomar</td>
            <td>.000</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
          </tr>
          <tr>
            <td class="player-name">Guerrero, Vladimir</td>
            <td>.000</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
          </tr>
          <tr>
            <td class="player-name">Mueller, Bill</td>
            <td>.000</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
          </tr>
          <tr>
            <td class="player-name">Olerud, John</td>
            <td>.000</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
          </tr>
          <tr>
            <td class="player-name">Piazza, Mike</td>
            <td>.000</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
          </tr>
          <tr>
            <td class="player-name">Sexson, Richie</td>
            <td>.000</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
          </tr>
          <tr>
            <td class="player-name">Sosa, Sammy</td>
            <td>.000</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
          </tr>
          <tr>
            <td class="player-name">Williams, Bernie</td>
            <td>.000</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
          </tr>
        </tbody>
      </table>
    </div>

    <% end %>
  </div>
</div>
  