<% vis = game_details(@game, @game.visitor) %>
<% home = game_details(@game, @game.home) %>
<% if @game.complete? %>
  <% winner = game_details(@game, @game.winner) %>
  <% loser = game_details(@game, @game.loser) %>
  <% pitchers = game_pitchers(@game) %>
<% end %>

<div class="wrapper">

  <div class="game-container">

    <div class="team-title visitor">
      <h3><%= link_to @game.visitor.name, team_path(@game.visitor) %></h3>
      <p>(<%= "#{vis[:wins]}-#{vis[:losses]}" %>)</p>
    </div>

    <div class="game-overview">
      <%= render 'summary', {game: @game, vis: vis, home: home, winner: winner, loser: loser, pitchers: pitchers} %>
    </div>

    <div class="team-title home">
      <h3><%= link_to @game.home.name, team_path(@game.home) %></h3>
      <p>(<%= "#{home[:wins]}-#{home[:losses]}" %>)</p>
    </div>

  </div>

</div>