<% h_stats = @player.hitting_card_stats %>
<% p_stats = @player.pitching_card_stats %>
<div style="padding-top: 75px;">
<h3><%= @player.first_name %> <%= @player.last_name %></h3>
<p><%= @player.team.name %></p>
<% if h_stats.exists? %>
  <table style="text-align:center">
    <tr>
      <th colspan="13">
    </tr>
    <tr> 
      <th>Year</th>
      <th>Team</th>
      <th>AVG</th>
      <th>AB</th>
      <th>2B</th>
      <th>3B</th>
      <th>HR</th>
      <th>RBI</th>
      <th>BB</th>
      <th>K</th>
      <th>SB</th>
      <th>CS</th>
      <th>SLG</th>
      <th>OBP</th>
    </tr>
    <% h_stats.each do |h| %>
    <tr>
      <td><%= h.deck %></td>
      <td><%= h.team %></td>
      <td><%= h.avg %></td>
      <td><%= h.ab %></td>
      <td><%= h.do %></td>
      <td><%= h.tr %></td>
      <td><%= h.hr %></td>
      <td><%= h.rbi %></td>
      <td><%= h.bb %></td>
      <td><%= h.so %></td>
      <td><%= h.sb %></td>
      <td><%= h.cs %></td>
      <td><%= h.slg %></td>
      <td><%= h.obp %></td>
    </tr>
    <% end %>
  </table>
<% end %>

<% if p_stats.exists? %>
  <table style="text-align:center">
    <tr>
      <th colspan="13">
    </tr>
    <tr> 
      <th>Year</th>
      <th>Team</th>
      <th>W</th>
      <th>L</th>
      <th>ERA</th>
      <th>Starts</th>
      <th>SV</th>
      <th>IP</th>
      <th>Hits Allowed</th>
      <th>BB</th>
      <th>K</th>
      <th>Homeruns Allowed</th>
    </tr>
    <% p_stats.each do |p| %>
    <tr>
      <td><%= p.deck %></td>
      <td><%= p.team %></td>
      <td><%= p.w %></td>
      <td><%= p.l %></td>
      <td><%= p.era %></td>
      <td><%= p.starts %></td>
      <td><%= p.sv %></td>
      <td><%= p.ip %></td>
      <td><%= p.hits_allowed %></td>
      <td><%= p.bb %></td>
      <td><%= p.so %></td>
      <td><%= p.hr_allowed %></td>
    </tr>
    <% end %>
  </table>
<% end %>
</div>